@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 20% 93%;
    --foreground: 213 50% 7%;
    --card: 223 20% 93%;
    --card-foreground: 213 50% 7%;
    --popover: 223 20% 93%;
    --popover-foreground: 213 50% 7%;
    --primary: 221 55% 26%;
    --primary-foreground: 223 20% 93%;
    --secondary: 221 58% 66%;
    --secondary-foreground: 213 50% 7%;
    --muted: 222 20% 20%;
    --muted-foreground: 213 50% 70%;
    --accent: 221 61% 43%;
    --accent-foreground: 223 20% 93%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 213 50% 7%;
    --border: 222 20% 20%;
    --input: 222 20% 20%;
    --ring: 221 61% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 223 20% 7%;
    --foreground: 213 50% 93%;
    --card: 223 20% 7%;
    --card-foreground: 213 50% 93%;
    --popover: 223 20% 7%;
    --popover-foreground: 213 50% 93%;
    --primary: 221 55% 74%;
    --primary-foreground: 223 20% 7%;
    --secondary: 221 58% 34%;
    --secondary-foreground: 213 50% 93%;
    --muted: 222 20% 80%;
    --muted-foreground: 213 50% 93%;
    --accent: 221 61% 57%;
    --accent-foreground: 223 20% 7%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 214 49% 10%;
    --border: 224 20% 60%;
    --input: 222 20% 80%;
    --ring: 221 61% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
